.cms-content {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    color: var(--primary-font-color);
    max-width: 640px;

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

    .cms-h4 {
        font-size: 24px;
        margin-bottom: 16px;
        @include font-pri-bold;

        & + .cms-p {
            margin-top: 0;
        }

        & + .cms-ul {
            margin-top: 16px;
        }
    }

    .cms-p {
        font-size: 16px;
        line-height: 24px;
        margin: 0 auto 36px;

        & + .cms-p {
            margin: 0;
        }

        & + .cms-media {
            margin-top: 24px;
        }
    }

    .cms-ul {
        margin: 24px auto;

        li {
            padding-left: 16px;
            margin-bottom: 8px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 7px;
                left: 0;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: var(--color70-2);
            }
        }
    }
}

.cms-media {
    border-radius: 5px;
    margin: 24px auto;

    @include tablet {
        margin: 48px auto;
    }

    @include desktop-small {
        margin: 60px auto;
    }
}
