.cms-content {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    color: var(--primary-font-color);

    strong {
        font-weight: bold;
    }

    h4 {
        font-size: 24px;
        margin-bottom: 16px;
        @include font-pri-bold;
    }

    p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 24px;
    }

    ul {
    }

    li {
        padding-left: 16px;
        margin-bottom: 8px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 7px;
            left: 0;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: red;
        }
    }

    img {
        width: 100%;
    }
}

.cms-paragraph {
    max-width: 640px;
    margin: 0 auto;
}

.cms-media {
    max-width: 780px;
    margin: 24px auto;

    &__list {
        display: flex;
        flex-flow: row wrap;
    }

    &__list-item {
        margin-bottom: 16px;

        @include tablet {
            flex: 1 0 calc(50% - 24px);
            margin: 0 12px 24px;
        }
    }
}

@include desktop-small {
    .component {
        margin: 0 auto 60px;

        &.cms-paragraph + &.cms-paragraph {
            margin: 0 auto 40px;
        }

        &:first-child {
            margin-top: 60px;
        }
    }
}
