.header {
    padding: 10px 20px;
    text-align: center;

    &__title {
        @include responsiveSize("font-size", 24px, 48px, 320px, 1280px);
        color: var(--primary-font-color);
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0px;
        position: relative;
        display: inline-block;
    }

    &__byline {
        @include responsiveSize("font-size", 36px, 60px, 320px, 1280px);
        font-weight: 900;
        @include font-sec-black;
        letter-spacing: 0px;
        margin-bottom: 20px;
        display: block;
        position: relative;
        @include doubleStrokeFont(var(--color70-1), var(--color70-2), 10px, 20px);
        color: var(--bg-color);
        text-shadow: 5px 5px var(--color70-1), 5px 5px var(--color70-1);

        &--stroke {
            position: absolute;
            @include doubleStrokeFont(var(--color70-3), var(--color70-4), 30px, 40px);
            z-index: -3;
        }
    }

    &__content {
        margin-bottom: 30px;
        margin-top: 60px;
    }

    &__menu {
        display: flex;
        justify-content: center;

        & li:first-child {
            margin-right: 16px;
        }
    }

    &__menu-item {
        text-transform: uppercase;
        @include responsiveSize("font-size", 16px, 22px, 320px, 1024px);
        color: var(--primary-font-color);

        &.is-active {
            text-decoration: underline;
        }
    }
}
