.header {
    background-color: var(--primary-style-color);
    padding: 10px 20px;

    &__title {
        @include responsiveSize("font-size", 30px, 60px, 320px, 1280px);
        color: var(--secondary-font-color);
    }

    &__byline {
        @include responsiveSize("font-size", 24px, 48px, 320px, 1280px);
        color: var(--secondary-font-color);
    }
}
