.project-list {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(1, 1fr);

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }

    @include desktop-small {
        grid-template-columns: repeat(3, 1fr);
    }
}

.project-listitem {
    flex: 1 0 100%;
    position: relative;
    border-radius: 5px;
    background-color: lightgrey;
    display: flex;
    flex-flow: column nowrap;

    @include tablet {
        flex: 0 0 calc(50% - 50px);
    }

    @include desktop-small {
        flex: 0 0 calc(33.33% - 50px);
    }

    &__img {
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        z-index: 1;
        border-radius: 50%;
        width: 50%;
        margin: 0 auto;
        background-position: center;
        transform: translateY(50%);
        z-index: 2;

        &::after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
    }

    &__media {
        position: relative;
    }

    &__bg-wrapper {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        clip-path: circle(0% at 50% 100%);
        transition: clip-path 0.25s linear;

        &::before {
            content: "";
            position: absolute;
            width: 50%;
            height: 100%;
            background-color: white;
            z-index: 10;
            top: 50%;
            left: 50%;
            transform: translate(calc(-50% - 1px), 0%) scale(1.05); // -1px cause the img is sometimes a float (e.g. 199.5). This corrects that
            border-radius: 50%;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 5px;
            background-color: #fff;
            bottom: 0;
        }

        .project-listitem:hover & {
            clip-path: circle(100% at 50% 100%);
        }
    }

    &__bg {
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__content {
        position: relative;
        display: flex;
        align-items: center;
        z-index: 1;
        flex: 1;
        background-color: grey;
        padding: 60px 20px 20px;
        border-radius: 0 0 5px 5px;
    }

    &__link {
        margin-left: auto;
        margin-right: 10px;
    }

    &__bg-inner {
        width: 100%;
        height: 100%;
        position: relative;
    }
}

@keyframes anim1 {
    0% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}

@keyframes anim3 {
    0% {
        background-position: 50% 0%;
    }

    100% {
        background-position: 50% 295%; //dont know why, but it works
    }
}

@keyframes anim5 {
    0% {
        transform: rotate(0deg) scale(1.5);
    }

    100% {
        transform: rotate(90deg) scale(1.5);
    }
}

.bg-0 {
    background: repeating-linear-gradient(
        45deg,
        var(--color70-2),
        var(--color70-2) 20px,
        var(--color70-3) 20px,
        var(--color70-3) 40px,
        var(--color70-4) 40px,
        var(--color70-4) 60px,
        var(--color70-1) 60px,
        var(--color70-1) 80px
    );
    background-size: 300% 100%;
    animation: anim1 15s infinite linear;
}

.bg-1 {
    background-color: var(--color70-2);

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 300% 100%;
    }

    &::before {
        background: repeating-linear-gradient(
            45deg,
            var(--color70-3),
            var(--color70-3) 10px,
            var(--trans) 10px,
            var(--trans) 20px
        );
        background-size: 305% 100%;
        animation: anim1 15s infinite linear;
    }

    &::after {
        top: 0;
        background: repeating-linear-gradient(
            -45deg,
            var(--trans),
            var(--trans) 10px,
            var(--color70-3) 10px,
            var(--color70-3) 20px
        );
    }
}

.bg-2 {
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        animation: anim3 5s infinite linear;
        background: repeating-radial-gradient(
            circle at 50%,
            var(--color70-4),
            var(--color70-4) 16px,
            var(--color70-3) 16px,
            var(--color70-3) 32px
        );
        background-size: 50% 75%;
        background-position: 50% 0%;
    }
}

.bg-3 {
    background-color: var(--color70-3);

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        background-color: var(--color70-2);
        -webkit-mask: repeating-conic-gradient(from 0deg, transparent 0deg 10deg, var(--color70-4) 10deg 20deg);
        transform: rotate(0deg) scale(1.5);
        -webkit-backface-visibility: hidden;
    }

    &::before {
        .project-listitem:hover & {
            animation: anim5 10s infinite linear;
        }
    }
}
