.project-detail {
    &__hero {
        margin-bottom: 60px;

        @include desktop-small {
            margin-bottom: 120px;
        }
    }

    &__hero-media {
        height: 320px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 5px;
        position: relative;
        display: flex;
        align-items: flex-end;

        @include tablet {
            height: 480px;
        }

        @include desktop-small {
            display: block;
            align-items: initial;
        }
    }

    &__hero-content {
        width: 100%;
        padding: 20px;
        position: relative;

        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        @include desktop-small {
            padding: 40px;
            background: var(--color70-1);
            position: absolute;
            bottom: -50px;
            width: auto;
            left: 40px;
            width: calc(100% - 80px);
            border-radius: 5px;
            box-shadow: 0px 0px 0px 5px var(--color70-2), 0px 0px 0px 10px var(--color70-3),
                0px 0px 0px 15px var(--color70-4);
        }
    }

    &__hero-text {
        margin-bottom: 24px;

        @include tablet {
            margin: 0;
            flex: 1 0 auto;
            padding-right: 50px;
        }
    }

    &__hero-title {
        @include responsiveSize("font-size", 24px, 48px, 320px, 768px);
        @include responsiveSize("line-height", 30px, 54px, 320px, 768px);
        color: #fff;
        @include font-pri-bold;
    }

    &__hero-subtitle {
        @include responsiveSize("font-size", 16px, 24px, 320px, 768px);
        @include responsiveSize("line-height", 20px, 30px, 320px, 768px);
        color: #fff;
        @include font-pri-reg;
    }

    &__hero-link {
        color: #fff;
        display: block;
        font-size: 16px;
        text-align: center;
        border: 2px solid #fff;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: 700;

        @include tablet {
            flex: 0 0 100px;
        }
    }
}
