.socials {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 30px auto;

    @include desktop-small {
        margin: 60px auto;
    }
}

.socials-item {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-color: #fff;
    border: 3px solid var(--color70-1);
    border-radius: 5px;
    position: relative;
    transition: transform 0.2s;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            to bottom,
            var(--color70-2) 0%,
            var(--color70-2) 33%,
            var(--color70-3) 33%,
            var(--color70-3) 66%,
            var(--color70-4) 66%,
            var(--color70-4) 100%
        );
        opacity: 0;
        transition: opacity 0.2s;
    }

    &:hover {
        transform: scale(1.05);

        &::before {
            opacity: 1;
        }
    }

    &:active {
        transform: scale(0.975);
    }

    &__wrapper {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &__media {
        width: 30px;
        height: 30px;
        filter: brightness(0);
    }
}
