:root {
    --primary-style-color: hsl(16, 88%, 62%);
    --secondary-style-color: hsl(201, 67%, 44%);
    --primary-font-color: hsl(0, 0%, 5%);
    --secondary-font-color: hsl(0, 0%, 95%);

    // Rainbow bg colors
    --trans: transparent;
    --wave1: #d48249;
    --wave2: #aa8534;
    --wave3: #7f8431;
    --wave4: #537f3d;
    --wave5: #21774e;
    --wave6: #006d5e;
}
