@font-face {
    font-family: "Poppins Black";
    src: url("../fonts/Poppins-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    unicode-range: U+000-5FF; /* Download only latin glyphs */
    src: local("Poppins Black"), url("../fonts/Poppins-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlab-Variable.ttf") format("truetype");
    font-weight: 300 900;
    font-stretch: 75% 125%;
    font-style: normal;
}

@font-face {
    font-family: "Public Sans";
    src: url("../fonts/PublicSans-VariableFont_wght.ttf") format("truetype");
    font-weight: 400 1000;
    font-stretch: 75% 125%;
    font-style: normal;
}

@mixin font-pri-reg {
    font-family: "Roboto Slab", "Helvetica Neue", sans-serif;
    font-weight: 400;
}

@mixin font-pri-bold {
    font-family: "Roboto Slab", "Helvetica Neue", sans-serif;
    font-weight: 700;
}

@mixin font-sec-black {
    font-family: "Public Sans", "Helvetica Neue", sans-serif;
}
